h1 {
  color: #412525;
  font-style: italic;
  text-align: center;
}
h3 {
  color: #412525;
  font-style: italic;
  text-align: center;
}
p {
  font-size: 18px;
}
.mid {
  color: #412525;
  text-align: center;
}
.skill-header {
  text-align: left;
  margin-inline-start: 25px;
}
.skill-container {
  border: solid #3b5441;
  border-radius: 12px;
  height: 125px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
